<html>
  <title>
       help page to test the static page 
  </title>
  <head>
    <link rel="stylesheet" href ="./css/styles.css">
</head>
  <body>
    {{>headers}}
      <p> {{ name }} </p>
    {{>footer}}
  </body>

</html>